p {
  font-family: Lato;
}

d {
  fill: orange;
}

.map {
  background-color: brown;
}

.countries {
  fill: #fff;
  stroke: #171c20;
  stroke-width: 0.8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.countries:hover {
  cursor: pointer;
}

.selectedCountry {
  color: white;
  font-size: 1rem;
  z-index: 33;
  position: absolute;
  float: left;
  bottom: 14%;
}

.countryNames {
  color: white;
  font-size: .8rem;
  z-index: 33;
  position: absolute;

}


